body {
    background-color:grey;
}
p {
    color: red;
    font-size: 20px;
}
.sofia {
    font-family: "Sofia", sans-serif;
}
.georgia {
    font-family: "Georgia", Georgia, serif;
}
.monospace {
    font-family:monospace;
}